@font-face {
    font-family: 'Microgramma Bold Ext';
    src: url('../fonts/microgramma-webfont.woff2') format('woff2'),
        url('../fonts/microgramma-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Microgramma Bold Ext', Arial, sans-serif;
    background: url('../images/stars.jpg') top / cover no-repeat fixed;
    margin: 0 auto;
    padding: 0;
    color: #ffffff;
}

/*-------------------------------------------- NAVBAR --------------------------------------------*/
#navbar ul {
    list-style-type: none;
    margin: 15px 0 0 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-items: center;
    font-size: 1em;    
    color: #707070;
}

.selected {
    color: #FFFFFF;
}

/*-------------------------------------------- HOME SECTION --------------------------------------------*/
#planets {
    grid-area: planets;
}

#intro {
    grid-area: intro;
    text-align: center;
}

#home {
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(40vw, auto)) 1fr;
    grid-template-areas: ". planets intro .";
    align-items: center;
}

#intro h1 {
    font-size: 3em;
    color: #FF0000;
    margin: 0 auto;
}

/*-------------------------------------------- JS ORBIT --------------------------------------------*/
.orbit {
    stroke: rgba(255, 255, 255, 0.1);
    fill: none;
}