/*-------------------------------------------- GLOBAL ELEMENTS --------------------------------------------*/

@font-face {
    font-family: 'Microgramma Bold Ext';
    src: url('../fonts/microgramma-webfont.woff2') format('woff2'),
         url('../fonts/microgramma-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Microgramma Bold Ext', Arial, sans-serif;
    background: url('../images/stars.jpg') top / cover no-repeat fixed;
    margin: 0 auto;
    padding: 0;
    color: #ffffff;
}

#nav {
    grid-area: nav;
    justify-items: center;
    align-self: center;
}

#main {
    grid-area: main;
    justify-items: center;
    align-self: center;
}

#footer {
    grid-area: footer;
    justify-items: center;
    align-self: center;
}

#container {
    display: grid;
    grid-template-rows: auto minmax(90vh, auto) auto;
    grid-template-areas:
        "nav"
        "main"
        "footer";
}

/*-------------------------------------------- NAVBAR --------------------------------------------*/
#menu-toggle {
    position: relative;
    text-align: right;
    margin: 20px 0 0 0;
    cursor: pointer;
    right: 15px;
}

.navbar {
    list-style-type: none;
    padding: 0;
    color: #707070;
    text-align: center;
    background-color: rgba(112,112,112,.4);
    letter-spacing: 2px;
}

#nav ul {
    padding: 0;
}

.navbar li {
    line-height: 50px;
}

.navbar li:hover {
    cursor: pointer;
    color: #FFFFFF;
    transition: all .3s ease-in-out;
    background-color: rgba(255, 244, 145, .5);
}

.selected {
    color: #fff291;
    transition: all .3s ease-in-out;
}

.displayNone {
    display: none;
}

#menu-toggle .fa-bars {
    color: #707070;
    font-size: 2em;
}

#menu-toggle i:hover {
    color: #FFFFFF;
    transition: all .3s ease-in-out;
}

/*-------------------------------------------- HOME SECTION --------------------------------------------*/
#planets {
    grid-area: planets;
}

#intro {
    grid-area: intro;
    text-align: center;
}

#home {
    display: grid;
    grid-template-columns: 1fr minmax(80vw, auto) 1fr;
    grid-template-areas:
        ". intro ."
        ". planets .";
    align-items: center;
}

#intro h1 {
    font-size: 5vmax;
    color: #FFF76B;
    margin: 0 auto;
}

#intro h2 {
    font-size: 2.5vmax;
    margin: 10px 0 20px 0;
}

#intro button {
    border-radius: 50px;
    padding: 15px;
    margin-top: 20px;
    font-family: 'Microgramma Bold Ext', Arial, sans-serif;
    font-size: 1.7vmax;
    border: none;
    background-color: #d3c13a;
    transition: all .3s ease-in-out;
}

#intro button:hover,
#intro button:focus,
#intro button:active {
    background-color: #fff291;
    box-shadow: 0 0 50px 5px #fff9cd;
    border: none;
    outline: none;
}

.orbit {
    stroke: rgba(255, 255, 255, 0.1);
    stroke-width: 2px;
    fill: none;
}

/*-------------------------------------------- MEDIA QUERIES --------------------------------------------*/

@media (min-width: 820px) {

    /*------------ NAVBAR -----------*/
        
    .navbar {
        margin: 15px 0 0 0;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 10px;
        justify-items: center;
        align-self: center;
        font-size: 1.4vmax;
        background-color: unset;
        letter-spacing: 0px;
    }

    .navbar li {
        line-height: normal;
    }

    .navbar li:hover {
        background-color: unset;
    }

    #menu-toggle {
        display: none;
    }

    /*------------ HOME SECTION -----------*/
    #home {
        display: grid;
        grid-template-columns: 1fr repeat(2, minmax(40vw, auto)) 1fr;
        grid-template-areas: ". planets intro .";
        align-items: center;
    }

    #intro h1 {
        font-size: 4vmax;
    }

    #intro h2 {
        font-size: 2vmax;
    }
}